<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mmda"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".AnimationActivity"
            android:label="@string/title_activity_animation" >
        </activity>
        <activity
            android:name=".SingleMainActivity"
            android:label="@string/title_activity_single_main" >
        </activity>
        <activity
            android:name=".SingleSubActivity"
            android:label="@string/title_activity_single_sub" >
        </activity>
        <activity
            android:name=".SingleGameActivity"
            android:label="@string/title_activity_single_game" >
        </activity>
        <activity
            android:name=".SingleScoreActivity"
            android:label="@string/title_activity_single_score" >
        </activity>
        <activity
            android:name=".OnlineMainActivity"
            android:label="@string/title_activity_online_main" >
        </activity>
        <activity
            android:name=".OnlineSubActivity"
            android:label="@string/title_activity_online_sub" >
        </activity>
        <activity
            android:name=".RandomMatchActivity"
            android:label="@string/title_activity_random_match" >
        </activity>
        <activity
            android:name=".PKFriendActivity"
            android:label="@string/title_activity_pkfriend" >
        </activity>
        <activity
            android:name=".OnlineGameActivity"
            android:label="@string/title_activity_online_game" >
        </activity>
        <activity
            android:name=".OnlineWinActivity"
            android:label="@string/title_activity_online_win" >
        </activity>
        <activity
            android:name=".OnlineLoseActivity"
            android:label="@string/title_activity_online_lose" >
        </activity>
    </application>

</manifest>
